@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root{
    --font-color: hsl(222, 62%, 29%);
    --font-color-2: hsl(216, 30%, 52%); 
    --font-color-alt: hsl(180, 81%, 62%);
    --bg-color: hsl(43, 54%, 95%);
    --font-weight: bold;
    --font-weight-alt: 500;
}

.container{
    min-width: 100%;
}

.left-div{
    background-color: var(--bg-color);
}

.main-left{
    padding: 5px 5px;
    height: 100vh;
}

.main-content > .form-title{

    color: var(--font-color);
    font-weight: var(--font-weight);
    padding: 25px 5px;
    text-align: center;
    margin-top: 35vh;
}

.input-div > .input {
    padding: 5px 5px;
    margin: 0 auto;
}

.button{
    padding: 25px 5px;
    text-align: center;
}

.button > .submit-btn{
    background-color: var(--font-color);
    color: var(--bg-color);
    transition: ease 0.5s;
}

.button > .submit-btn:hover{
    transform: scale(1.1);
}

.form-end{
    margin: 0 auto;
    width: 30vh;
    color: var(--font-color-2);
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
}

.form-end:hover{
    font-size: 1.1rem;
    color: var(--font-color);
    transition: all 0.5s ease;
}

.right-div{
    background-color: var(--font-color);
}

/* Registration Form */

.reg-right-div{
    background-color: var(--bg-color);
}

.reg-main-right{
    padding: 5px 5px;
    height: 100vh;
}

.reg-right-content > .form-title{
    color: var(--font-color);
    font-weight: var(--font-weight);
    padding: 25px 5px;
    text-align: center;
    margin-top: 35vh;
}

.button > .reg-submit-btn{
    background-color: var(--font-color);
    color: var(--bg-color);
    transition: ease 0.5s;
}

.button > .reg-submit-btn:hover{
    transform: scale(1.1);
}

.reg-form-end{
    margin: 0 auto;
    width: 30vh;
    color: var(--font-color-2);
    text-decoration: none;
    text-align: center;
    transition: all 0.5s ease;
}

.reg-form-end:hover{
    font-size: 1.1rem;
    color: var(--font-color);
    transition: all 0.5s ease;
}

.reg-left-div{
    background-color: var(--font-color);
}